@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    /* background-color: red; */
    height: 4rem;
}

.header #logo{
    padding: 5px;
    margin-left: 20px;
}

.kobeImage{
    margin-top: 10rem;
    margin-left: 7rem;
    /* background-color: red; */
    width: 334px;
    height: 474px;
    animation: fadeIn 0.8s ease-in both;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}